%ul.top-menu
  %li
    = menu_link "Home", root_path, "Home"
  %li
    = menu_link "Articles", "/articles", "Information about how to make the most of your dental visits"
  %li
    = menu_link "Insurance", "/insurance", "Find out if Dr. Wood accepts your insurance"
